*{ 
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    text-align: center;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(original.gif);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: serif;
}

.navbar{
    width: 100%;
    height: auto;
    padding: 10px 0;
    text-align: center;
}

.logo{
    color: #8E5441;
    font-size: 60px;
    font-family: serif;
    float: left;
    padding-top: .6%;
    cursor: pointer;
    animation: fadeInMove 2s ease-in-out;
}

.menu{
    width: 900px;
    float: right;
    height: 100px;
}

ul{
    float: left;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 25px;    
}

ul li a{
    text-decoration: none;
    color: #d2c1b0;
    font-family: serif;
    font-weight: bold; 
    animation: fadeInMove 2s ease-in-out;
    transition: color 0.3s, transform 0.3s; 
}

ul li a:hover {
    color: #ff6347; 
    transform: scale(1.1);
}

.art-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%; 
    animation: fadeInMove 2s ease-in-out;
}

.art-gallery a {
    margin: 30px; 
    position: relative;
    display: block;
}

.art-gallery img {
    width: 400px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    margin-top: 250px;
    border: 10px solid #8E5441;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.art-gallery a:hover img {
    opacity: 0.5;
}

.art-gallery a::before {
    content: attr(data-title);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    color: #F3E9DC; 
    padding: 10px; 
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
}

.art-gallery a:hover::before {
    opacity: 1;
}

.home {
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('original.gif');
    background-position: center;
    background-size: cover;
    font-family: serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    flex: 1; 
    margin-top: 20px;
}

.text,  .image {
    flex: 1 ;
    margin: 2rem;
    color: #F3E9DC;
    font-size: 20px; 
    animation: fadeInMove 1s ease-in-out;
    padding: 1rem;
    margin-right: 50px;
    margin-left: 175px;
    margin-top: 50px;
}

.text{
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #8E5441;
}


.image1 img {
    max-width: 80%; 
    height: auto;
    border-radius: 50px;
    transition: transform 0.3s ease;
}


.image img:hover {
    transform: scale(1.05);
}

.about {
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('original.gif');
    background-position: center;
    background-size: cover;
    font-family: serif;
    height: 100vh;

}

.about-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    gap: 10px;  
}

.image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 5px solid #8E5441 ;
}

.about-text {
    max-width: 600px;
    color: #F3E9DC;
    margin-right: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #8E5441;
    animation: fadeInMove 2s ease-in-out;
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact {
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('original.gif');
    background-position: center;
    background-size: cover;
    font-family: serif;
    min-height: 100vh;
}

.contact-info {
    max-width: 600px;
    color: #F3E9DC;
    margin-right: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #8E5441;
    animation: fadeInMove 2s ease-in-out;
}

.contact-list {
    margin-left: 15px;
    margin-bottom: 20px;
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
